html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary, canvas {
  display: block; 
}

img,embed,object,video {
  max-width: 100%;
}

.clearfix:after { 
  visibility: hidden;
  display: block;
  content: ""; 
  clear: both;
  height: 0; 
  width: 0;
}

html {
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
/*  background-color: #FF5D31;*/
  font-size: 62.5%; /* size 10px */
  line-height: 1;
}

a {
  border: 0;
  text-decoration: none; 
}

@font-face {
  font-family: 'Relative-Book';
  src: url(../type/Relative-Book-Web.eot);
  src: url(../type/Relative-Book-Web.woff2) format('woff2'),
       url(../type/Relative-Book-Web.woff) format('woff'),
       url(../type/Relative-Book-Web) format('truetype');
}

@font-face {
  font-family: 'Relative-Bold';
  src: url(../type/Relative-Bold-Web.eot);
  src: url(../type/Relative-Bold-Web.woff2) format('woff2'),
       url(../type/Relative-Bold-Web.woff) format('woff'),
       url(../type/Relative-Bold-Web) format('truetype');
}

.repType {
    font-family: Relative-Book;
}

h1 {
  font-size: 10em; /* size ??px */
  line-height: 1.2em; /* size ??px */
  color: black;
}

h2 {
  font-size: 7.5em; /* size ??px */
  line-height: 1.2em; /* size ??px */
  color: white;
}

h3 {
  font-family: Relative-Bold;
  font-size: 2.5em; /* size ??px */
  line-height: 1.6em; /* size ??px */
  color: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

h4 {
  font-size: 1.5em; /* size ??px */
  line-height: 1.2em; /* size ??px */
  color: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.posCSS {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
  text-align: center;
  width: 75%;
  margin: auto;

  font-family: Relative-Bold;
}


.linePos {
  display: flex;
  justify-content: center;
}

#outerDiv {
  position: fixed;
  width: calc(6 * 100vw);
/*  background-color: #FF5D31;*/
  height: 100vh;
    z-index: -1;
    visibility: hidden;
  /*  overflow: hidden;*/
}

#line1Cont {
  /*background-color: lime;*/
  width: 100vw;
  height: 100%;
  float: left;
}

#line2Cont {
  /*background-color: silver;*/
  width: 100vw;
  height: 100%;
  float: left;
}

#line3Cont {
  /*background-color: black;*/
  width: 100vw;
  height: 100%;
  float: left;
}

#line4Cont {
  /*background-color: purple;*/
  width: 100vw;
  height: 100%;
  float: left;
}

#line5Cont {
  /*background-color: pink;*/
  width: 100vw;
  height: 100%;
  float: left;
}

#logoCont {
  /*background-color: yellow;*/
  width: 100vw;
  height: 100%;
  float: left;
}

#contact {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index:10;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
 /* opacity: 1;*/
}

.svgPos {
  position: fixed;
  width: 25%;
  pointer-events: none;
   /*height: 50%;*/
}

#letterM {
   opacity: 0;
}

#letterA {
   opacity: 0;
}

#letterL {
   opacity: 0;
}




@media only screen and (max-width: 600px) {

  h1 {
    font-size: 3em; 
    line-height: 1.2em; 
  }

  .typeInfo {
    text-align: center;
  }

  #contact {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 20px;
  }


} 


@media only screen and (min-width: 600px) {

  h1 {
    font-size: 5em;
    line-height: 1.2em;
  }

} 


@media only screen and (min-width: 1200px) {

  h1 {
    font-size: 9em;
    line-height: 1.2em; 
  }

} 















